<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Week4-Lecture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A049EDCB1CCA70BB00BF5724</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A049EDDF1CCA70BC00BF5724</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A049EDEA1CCA70BC00BF5724</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
